*{
    font-family: "Helvetica";
    margin:0;
}

main{
    margin:20px;
}

nav{
    color:black;
    background-color: #bee1e6;
    padding:20px;
    margin:0;
    

}
section{
    border: 1px solid grey;
    margin: 20px;
    padding: 20px;
    border-left: 10px solid #fad2e1;
    background-color: #fde2e4;
}

span{
    font-size: 12px;
 
}


p{
    color: grey;
   padding-top: 10px;
   padding-bottom: 20px;
    
}
button{
    margin-bottom: 10px;
    background-color:#cddafd;
    color: black;
}
hr{
    color: #cddafd;
}